<div class="head">
    <div class="navbar">
        <div class="logo">
            <a href="ewbsite.html">Chumchon OTOP</a>
        </div>
        <nav>
            <ul id="MenuItems">
                <li><a href="#">Home</a></li>
                <li><a href="#">Start Selling</a></li>
                <li><a href="#">Center</a></li>
                <li><a href="/users/login">Login</a></li>
            </ul>
            <div class="search-box">
                <i class="fa fa-search"></i>
                <input type="search" class="search" placeholder="Search...">
            </div>
            <div class="icon-basket">
                <i class="fa-solid fa-cart-shopping" id="icon-basket" style="color: #3e3232;"></i>
            </div>
        </nav>
    </div>
</div>