<%- include('index.ejs') %>	

<style>
.greet {
    font-family: "Poetsen One", sans-serif;
    font-style: normal;
    text-align: center;
    padding: 20px;
}

</style>
<body>
    <%- include('head-login.ejs') %>

    <h1 class="greet">Welcome <%= name %></h1>
</body>
</html>